@tailwind base;
@tailwind components;
@tailwind utilities;


.shared-styles {
    width: 100%;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    padding: 0.225rem;
    outline: none;
    font-size: 1rem;
  }

 
.container {
  padding-bottom: 2rem;
  overflow-x: hidden;
}

@media (max-width: 768px) {
 
  .date-time-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; 
  }

  .form-container {
    width: 100%;
    padding: 1rem; 
  }

  .container {
    padding: 1rem;
  }
}

@media (max-width: 480px) {

  .bg-white {
    padding: 1rem;
    overflow-x: hidden;
  }

  .h-screen {
    height: auto;
  }
}
